{% extends 'base.html' %}
{% block title %}
  IMDB Clone
{% endblock %}
{% block content %}
  <h1>IMDB Clone</h1>
  <hr />
  <div class="row row-cols-5">
    {% for film in page_obj %}
      <div class="mb-5" style="width: 18rem;">
        <img src="{{ film.poster }}" class="card-img-top" alt="{{ film.title }}" style="height: 300px; object-fit: cover;" />
        <div class="card-body">
          <h4>
            <i class="bi bi-star-fill text-warning"></i>
            <span class="me-4">{{ random_number }}</span>
            <i class="bi bi-star text-primary"></i>
          </h4>
          <h5 class="card-title"><a href="{% url 'films:detail' film.id %}">{{ film.title }}</a></h5>
        </div>
      </div>
    {% empty %}
      <p>No films found.</p>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4 mb-5">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&laquo;&laquo;</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link">&laquo;</span>
        </li>
      {% endif %}

      <li class="page-item active" aria-current="page">
        <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      </li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&raquo;</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link">&raquo;&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
